@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: 'Fira Code', monospace;
font-family: 'Poppins', sans-serif;
*/

/*
COLORS: 1. #37023c
        2. #f47e7c
        3. #199f7b 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

body {
  background: #1a1a1a;
}

.fabs {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.action {
  background: #37023c;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 0 20px #199f7b;
  cursor: pointer;
}

.action i {
  position: absolute;
  color: #f47e7c;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.btn {
  position: absolute;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  box-shadow: 0 0 10px #f47e7c;
}

.btn i {
  position: absolute;
  font-size: 20px;
  color: #37023c;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.btns {
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
  height: 35px;
  width: 35px;
  transition: 0.3s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
.btns.open {
  bottom: 50px;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 32px;
  color: #f47e7c;
  text-shadow: 0 0 10px #f47e7c;
  text-align: center;
}

.hero .v {
  color: #199f7b;
  text-shadow: 0 0 10px #199f7b;
}

.hero img {
  background: none;
  position: fixed;
  bottom: 30px;
  right: 90px;
}

.hero p {
  font-size: 16px;
  font-weight: 700;
  color: #f47e7c;
  text-shadow: 0 0 10px #f47e7c;
  position: fixed;
  bottom: 90px;
  right: 100px;
}